<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_auto_elite"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_auto_elite_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoEliteKotlin"
        tools:targetApi="31" >
        <activity
            android:name=".view.activities.AdditionalSellCar"
            android:exported="false" />
        <activity
            android:name=".view.activities.AdditionalRegister"
            android:exported="false" />
        <activity
            android:name=".view.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.ImageSellCar"
            android:exported="false" />
        <activity
            android:name=".view.activities.SellCarActivity"
            android:exported="true" />
        <activity
            android:name=".view.activities.ColorSelection"
            android:exported="false" />
        <activity
            android:name=".view.activities.ProvinceSelection"
            android:exported="false" />
        <activity
            android:name=".view.activities.ShowMore"
            android:exported="false" />
        <activity
            android:name=".view.activities.PriceSelection"
            android:exported="false" />
        <activity
            android:name=".view.activities.YearSelection"
            android:exported="false" />
        <activity
            android:name=".view.activities.VehicleList"
            android:exported="false" />
        <activity
            android:name=".view.activities.MakeAndModel"
            android:exported="false" />
        <activity
            android:name=".view.activities.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>